name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build distributions
        run: uv build --sdist --wheel

      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
